<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>View Pilot</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar (headerTitle='Pilot Master Data')"></nav>

<div class="d-inline-flex" style="align-items: center; flex: 1; justify-content: center; width: 100%; height: 450px">
	<div class="d-flex justify-content-center shadow rounded align-items-center"  style="width: 90%; height: 400px">
		<div class="card bg-light w-100 h-100">
			<div class="card-header">
				<h2 class="font-weight-bold">Perpustakaan Ditambahkan</h2>
			</div>
			<div class="card-body">
				<h3 class="card-title font-weight-bold">Data Perpustakaan</h3>
				<div class="d-flex flex-row border-bottom border-top w-100">
					<div class="card-body border-right" style="width: 25%">
						<h5 class="card-text">Nama</h5>
						<h5 class="card-text">Lokasi</h5>
					</div>

					<div class="card-body w-100">
						<h5 class="card-text" th:text="${perpustakaan.getNama()}" />
						<h5 class="card-text" th:text="${perpustakaan.getLokasi()}" />
					</div>
				</div>
				<div class="d-flex flex-row border-bottom border-top h-auto w-100 rounded my-5 p-3 justify-content-between align-items-center" style="background-color: #D4EDDA;">
					<h5 class="text-success">Data Perpustakaan berhasil ditambahkan</h5>
					<a th:href="@{/perpustakaan}" class="btn btn-success btn-lg active" style="width: 10%" role="button">OK</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>