<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Pustakawan</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: updatePustakawan"></nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Update Data Pustakawan
                    </div>
                    <div class="card-body">
                        <form th:action="@{/pustakawan/update}" th:object="${pustakawan}" method="POST">
                            <input type="hidden" name="id" th:value="${pustakawanj.id}" />
                                                        
                            Name: <br>
                            <input type="text" name="nama_pustakawan" th:value="${}" class="form-control"/>
                            
                            NIP: <br>
                            <input type="text" name="nip" th:value="${}" class="form-control"/>
                            
                            Tempat Lahir: <br>
                            <input type="text" name="tempat_lahir" th:value="${}" class="form-control"/>
                            
                            Tanggal Lahir: <br>
                            <input type="date" name="tempat_lahir" th:value="${}" class="form-control"/>
                                                     
                            Jenis Kelamin: <br>
                            <select id="jenis_kelamin" name="jenis_kelamin" th:value="${}" class="form-control">
  								<option value="1">Laki-Laki</option>
 							    <option value="2">Perempuan</option>
							</select>
							
                            Spesialisasi: <br>
                            <input type="text" name="spesialisasi" th:value="${}"class="form-control"/>
                            
                            <br>
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="reset" class="btn btn-primary">Hapus</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>